{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "localStorage": true,
    "fetch": true
  },
  "env": {
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}